* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  width: 35vh;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar span {
  margin: 0;
}

.parameter-group label {
  display: block;
  margin-bottom: 5px;
}

.parameter-group input,
select {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.parameter-group input:focus,
select:focus {
  border-color: var(--input-focus-border-color);
}

/* Theme Toggle Container */
.theme-toggle-container {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Hide the default checkbox */
.theme-toggle {
  opacity: 0;
  position: absolute;
}

/* The rounded toggle label */
.theme-toggle-label {
  width: 40px;
  height: 40px;
  background-color: #808080;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* The SVG icon */
.theme-toggle-label img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.controls {
  display: flex;
  width: 100%;
}

.speed-control,
.cellSize {
  display: flex;
  padding: 15px;
  align-items: center;
}

.speed-control,
.cellSize label,
span {
  margin-right: 10px;
}

.input[type="range"] {
  margin-left: 10px;
}

.buttons {
  position: absolute;
  bottom: 5px;
}

.start-btn,
.reset-btn,
.copy-btn {
  padding: 10px 10px;
  border-radius: 5px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

.start-btn {
  background-color: var(--start-btn-bg-color);
  color: var(--start-btn-text-color);
}

.start-btn:hover {
  background-color: var(--start-btn-hover-bg-color);
  color: var(--start-btn-hover-text-color);
}

.start-btn:active {
  transform: scale(0.95);
}

.reset-btn {
  background-color: var(--reset-btn-bg-color);
  color: var(--reset-btn-text-color);
}

.reset-btn:hover {
  background-color: var(--reset-btn-hover-bg-color);
  color: var(--reset-btn-hover-text-color);
}

.reset-btn:active {
  transform: scale(0.95);
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Simulation area styling */
.simulation-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

/* Widget info styling */
.widget_info {
  position: absolute;
  top: 25vh;
  left: 0;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.widget_info input {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  border: 0;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.copy-btn {
  background-color: var(--reset-btn-bg-color);
  color: var(--reset-btn-text-color);
}

.copy-btn:hover {
  background-color: var(--reset-btn-hover-bg-color);
  color: var(--reset-btn-hover-text-color);
}

.copy-btn:active {
  background-color: var(--reset-btn-hover-bg-color);
  color: var(--reset-btn-hover-text-color);
  transform: scale(0.9);
}

canvas {
  background-color: var(--canvas-bg-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 90%;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.light-mode {
  --widget-bg-color: #ccc;
  --background-color: #dcf3ed;
  --text-color: #333;
  --sidebar-bg-color: #f1f1f1;
  --sidebar-text-color: #333;
  --header-bg-color: #ffffff;
  --header-text-color: #2d2d2d;
  --canvas-bg-color: #ccc;
  --input-bg-color: #ffffff;
  --input-text-color: #333;
  --input-border-color: #ccc;
  --input-focus-border-color: #000000;
  --start-btn-bg-color: #5ad15e;
  --start-btn-text-color: #000;
  --start-btn-hover-bg-color: #45af4a;
  --start-btn-hover-text-color: #000;
  --reset-btn-bg-color: #bbbbbb;
  --reset-btn-text-color: #000;
  --reset-btn-hover-bg-color: #acacac;
  --reset-btn-hover-text-color: #000;
}

.dark-mode {
  --widget-bg-color: #ccc;
  --background-color: #2c2a3a;
  --text-color: #e0e0e0;
  --sidebar-bg-color: #2d2d2d;
  --sidebar-text-color: #e0e0e0;
  --header-bg-color: #333333;
  --header-text-color: #f9f9f9;
  --canvas-bg-color: #ccc;
  --input-bg-color: #333333;
  --input-text-color: #f9f9f9;
  --input-border-color: #666;
  --input-focus-border-color: #ffffff;
  --start-btn-bg-color: #498b4d;
  --start-btn-text-color: #ffffff;
  --start-btn-hover-bg-color: #317735;
  --start-btn-hover-text-color: #ffffff;
  --reset-btn-bg-color: #444444;
  --reset-btn-text-color: #f9f9f9;
  --reset-btn-hover-bg-color: #333333;
  --reset-btn-hover-text-color: #ffffff;
}