header {
    background-color: #2d2d2d;
    border-radius: 35px;
    box-shadow: 14px 8px 30px 3px #000000;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    width: auto;
}
canvas {
    display: block;
    margin-top: 1vh;
    background-color: #ccc;
}
button {
  background-color: white;
  color: black;
  border: 2px solid green;
  border-radius: 5px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: green;
  color: white;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.reset {
  background-color: white;
  color: black;
  border: 2px solid #2d2d2d;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.reset:hover {
  background-color: #2d2d2d;
  color: white;
}